<mat-toolbar style="background-color: whitesmoke;" class="footer">
    <span>Follw me for more&nbsp;&nbsp;&nbsp;</span>
    <span class="example-spacer"></span>
    <a target="blank" href="https://www.instagram.com/java.coders.official/" >
        <img src="../../assets/instagram_icon.png" width="25px" height="25px" alt="Instagram" style="float: left; margin-right: 30px;">
        &nbsp;
    </a>
    <a target="blank" href="mailto:bouali.pro@gmail.com" >
        <img src="../../assets/gmail_icon.png" width="25px" height="25px" alt="Instagram" style="float: left; margin-right: 30px;">
        &nbsp;
    </a>
    <a target="blank" href="https://www.youtube.com/channel/UC_mRM-418WkU2SgpvNG3jKA" >
        <img src="../../assets/YouTube_icon.png" width="25px" height="25px" alt="Instagram" style="float: left; margin-right: 30px;">
        &nbsp;
    </a>
    
</mat-toolbar>